/Agent.class
/AssignmentMessage.class
/BattleOfTheSexes.class
/ChecksMessage.class
/ConsTable.class
/Generator.class
/MASP.class
/Mailer.class
/Main.class
/Message.class
/PrisonersDilema.class
/TupleForGame.class
/VarTuple.class
/PrisonersDilemma.class
